Client/Connected Services/RestEvalService/RestEvalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RestEvalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/evalservice?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/evalservice?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/evalservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EvalServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRestEvalService_SubmitEval_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitEval" />
  </wsdl:message>
  <wsdl:message name="IRestEvalService_SubmitEval_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitEvalResponse" />
  </wsdl:message>
  <wsdl:message name="IRestEvalService_GetEval_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEval" />
  </wsdl:message>
  <wsdl:message name="IRestEvalService_GetEval_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEvalResponse" />
  </wsdl:message>
  <wsdl:message name="IRestEvalService_GetAllEvals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEvals" />
  </wsdl:message>
  <wsdl:message name="IRestEvalService_GetAllEvals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEvalsResponse" />
  </wsdl:message>
  <wsdl:message name="IRestEvalService_GetEvalsBySubmitter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvalsBySubmitter" />
  </wsdl:message>
  <wsdl:message name="IRestEvalService_GetEvalsBySubmitter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEvalsBySubmitterResponse" />
  </wsdl:message>
  <wsdl:message name="IRestEvalService_RemoveEval_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEval" />
  </wsdl:message>
  <wsdl:message name="IRestEvalService_RemoveEval_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEvalResponse" />
  </wsdl:message>
  <wsdl:portType name="IRestEvalService">
    <wsdl:operation name="SubmitEval">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestEvalService/SubmitEval" message="tns:IRestEvalService_SubmitEval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestEvalService/SubmitEvalResponse" message="tns:IRestEvalService_SubmitEval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEval">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestEvalService/GetEval" message="tns:IRestEvalService_GetEval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestEvalService/GetEvalResponse" message="tns:IRestEvalService_GetEval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEvals">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestEvalService/GetAllEvals" message="tns:IRestEvalService_GetAllEvals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestEvalService/GetAllEvalsResponse" message="tns:IRestEvalService_GetAllEvals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvalsBySubmitter">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestEvalService/GetEvalsBySubmitter" message="tns:IRestEvalService_GetEvalsBySubmitter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestEvalService/GetEvalsBySubmitterResponse" message="tns:IRestEvalService_GetEvalsBySubmitter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveEval">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestEvalService/RemoveEval" message="tns:IRestEvalService_RemoveEval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestEvalService/RemoveEvalResponse" message="tns:IRestEvalService_RemoveEval_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="RestEvalService" />
</wsdl:definitions>